<?xml version="1.0"?>
<config>
    <modules>
        <Chigusa_Catalog>
            <version>1.2.0</version>
        </Chigusa_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_media>Chigusa_Catalog_Block_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
            <chigusa>
                <class>Chigusa_Catalog_Block</class>
            </chigusa>
        </blocks>
        <models>
            <chigusa>
                <class>Chigusa_Catalog_Model</class>
            </chigusa>
        </models>
        <helpers>
            <chigusa_catalog>
                <class>Chigusa_Catalog_Helper</class>
            </chigusa_catalog>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <chigusa_cloudzoom>
                    <file>chigusa_cloudzoom.xml</file>
                </chigusa_cloudzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chigusa_cloudzoom translate="title" module="chigusa_catalog">
                                            <title>Chigusa Product Zoom</title>
                                            <sort_order>50</sort_order>
                                        </chigusa_cloudzoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <chigusa_cloudzoom>
            <general>
                <enabled>1</enabled>
            </general>
            <zoomImage>
                <zoomWidth></zoomWidth>
                <zoomHeight></zoomHeight>
                <position>right</position>
                <smoothMove>3</smoothMove>
                <showTitle>1</showTitle>
                <titleOpacity>1</titleOpacity>
                <adjustX>0</adjustX>
                <adjustY>0</adjustY>
                <enableLightbox>1</enableLightbox>
            </zoomImage>
            <lens>
                <lensOpacity>0.5</lensOpacity>
            </lens>
            <originalImage>
                <imageWidth>466</imageWidth>
                <imageHeight>605</imageHeight>
                <tint></tint>
                <tintOpacity>0.5</tintOpacity>
                <softFocus>0</softFocus>
            </originalImage>
            <moreview>
                <enable>1</enable>
                <thumbWidth>75</thumbWidth>
                <thumbHeight>75</thumbHeight>
                <slideShow>1</slideShow>
                <orientation>bottom</orientation>
            </moreview>
        </chigusa_cloudzoom>
    </default>
</config>